<div class="container">
    <h1 class="well">Nuevo trabajo para {{ Nombres }} {{ Apellidos }}</h1>
    <div class="row">
        <div class="col-sm-12">
            <form ngNativeValidate [formGroup]="forma" (ngSubmit)="altaTrabajo()">

                <div class="alert alert-primary" role="alert">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Kilometros : </label>
                            <input style='width:20em' formControlName="Kilometros" name="Kilometros" required type="text" placeholder="Ingrese los kilometros..." class="form-control">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Cambio Aceite : </label>
                            <select (ngModel)="Aceite" formControlName="Aceite" name="Aceite">
                            <option *ngFor="let aceite of aceites" [value]="aceite.Aceite"  >
                                {{aceite.Aceite}}
                            </option>
                        </select>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Cambio Filtro : </label>
                            <select (ngModel)="Filtro" formControlName="Filtro" name="Filtro">
                              <option *ngFor="let filtro of filtros" [value]="filtro.Filtro"  >
                                  {{filtro.Filtro}}
                              </option>
                          </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Cambio Correa : </label>
                            <select (ngModel)="Correa" formControlName="Correa" name="Correa">
                          <option value="No">
                            No
                          </option>
                          <option value="Si">
                            Si
                          </option>
                      </select>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Cambio TensorDist : </label>
                            <select (ngModel)="TensorDist" formControlName="TensorDist" name="TensorDist">
                          <option value="No">
                            No
                          </option>
                          <option value="Si">
                            Si
                          </option>
                      </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Cambio Pastilla Freno : </label>
                            <select (ngModel)="PastillaFreno" formControlName="PastillaFreno" name="PastillaFreno">
                          <option value="No">
                            No
                          </option>
                          <option value="Si">
                            Si
                          </option>
                      </select>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Cambio Ref : </label>
                            <select (ngModel)="CambioRef" formControlName="CambioRef" name="CambioRef">
                          <option value="No">
                            No
                          </option>
                          <option value="Si">
                            Si
                          </option>
                      </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Cambio Bujia : </label>
                            <select (ngModel)="CambioBujia" formControlName="CambioBujia" name="CambioBujia">
                          <option value="No">
                            No
                          </option>
                          <option value="Si">
                            Si
                          </option>
                      </select>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Cambio Comb : </label>
                            <select (ngModel)="CambioComb" formControlName="CambioComb" name="CambioComb">
                          <option value="No">
                            No
                          </option>
                          <option value="Si">
                            Si
                          </option>
                      </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Cambio Filtro Aceite : </label>
                            <select (ngModel)="CambioFiltroAceite" formControlName="CambioFiltroAceite" name="CambioFiltroAceite">
                          <option value="No">
                            No
                          </option>
                          <option value="Si">
                            Si
                          </option>
                      </select>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Cambio Filtro Agua : </label>
                            <select (ngModel)="CambioFiltroAgua" formControlName="CambioFiltroAgua" name="CambioFiltroAgua">
                          <option value="No">
                            No
                          </option>
                          <option value="Si">
                            Si
                          </option>
                      </select>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Cambio BombaAgua : </label>
                            <select (ngModel)="BombaAgua" formControlName="BombaAgua" name="BombaAgua">
                    <option value="No">
                      No
                    </option>
                    <option value="Si">
                      Si
                    </option>
                </select>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>CambioAA : </label>
                            <select (ngModel)="CambioAA" formControlName="CambioAA" name="CambioAA">
                    <option value="No">
                      No
                    </option>
                    <option value="Si">
                      Si
                    </option>
                </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Cambio CorreaDist : </label>
                            <select (ngModel)="CorreaDist" formControlName="CorreaDist" name="CorreaDist">
                  <option value="No">
                    No
                  </option>
                  <option value="Si">
                    Si
                  </option>
              </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Observaciones </label>
                        <textarea formControlName="Observaciones" name="Observaciones" placeholder="Observaciones" rows="3" class="form-control"></textarea>
                    </div>

                </div>


                <button type="submit" class="btn btn-info btn-lg btn-block text-uppercase">Cargar trabajo</button>

                <br>

            </form>
        </div>