<div class="container">
    <h1 class="well">Detalle de {{ Nombres }} {{ Apellidos }}</h1>
    <div class="row">
        <div class="col-sm-12">

            <div class="alert alert-primary" role="alert">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label>Fecha : <strong>{{ Fecha | date:"dd/MM/yyyy"}}</strong></label>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Kilometros : <strong>{{ Kilometros }}</strong></label>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label>Aceite : <strong>{{ Aceite }}</strong></label>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Filtro : <strong>{{ Filtro}}</strong></label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label>Correa : <strong>{{ Correa }}</strong></label>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>TensorDist : <strong>{{ TensorDist }}</strong></label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label>PastillaFreno : <strong>{{ PastillaFreno}}</strong></label>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>CambioRef : <strong>{{ CambioRef }}</strong></label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label>CambioBujia : <strong>{{ CambioBujia}}</strong></label>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>CambioAceite : <strong>{{ CambioAceite}}</strong></label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label>CambioFiltroAceite : <strong>{{ CambioFiltroAceite }}</strong></label>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>CambioFiltroAgua : <strong>{{ CambioFiltroAgua }}</strong></label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label>CambioComb : <strong>{{ CambioComb}}</strong></label>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>CambioComb : <strong>{{ CambioComb}}</strong></label>
                    </div>
                </div>
            </div>



        </div>
    </div>
