<footer class="site-footer" role="contentinfo">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4 mb-5">
                <h3>Acerca de Wilkin</h3>
                <p class="mb-5">Lubricentro Wilkin</p>
                <ul class="list-unstyled footer-link d-flex footer-social">
                    <li><a href="https://www.facebook.com/" class="p-2"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="https://www.instagram.com/" class="p-2"><span class="fa fa-instagram"></span></a></li>
                </ul>

            </div>
            <div class="col-md-5 mb-5 pl-md-5">
                <div class="mb-5">
                    <h3>Informacion de contacto</h3>
                    <ul class="list-unstyled footer-link">
                        <li class="d-block">
                            <span class="d-block"><i class="material-icons">room</i> Direccion:</span>
                            <span>French 219 - Aguilares - Tucuman</span></li>
                        <li class="d-block"><span class="d-block">Telefono:</span><span><i class="material-icons">phone</i>+54 9 3865-502483</span></li>
                        <li class="d-block"><span class="d-block">Email:</span><span><i class="material-icons">email</i>wilkin@wilkin.com</span></li>
                    </ul>
                </div>

            </div>
            <div class="col-md-3 mb-5">
                <h3>Links</h3>
                <ul class="list-unstyled footer-link">
                    <li><a href="https://www.instagram.com/">Acerca de</a></li>
                    <li><a href="https://www.instagram.com/">Terminos de uso</a></li>
                    <li><a href="https://www.instagram.com/">Contacto</a></li>
                    <li><a href="https://www.instagram.com/">Otros</a></li>
                </ul>
            </div>
            <div class="col-md-3">

            </div>
        </div>
        <div class="row">
            <div class="col-12 text-md-center text-left">
                <p>
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> Todos los derechos reservados <a href="https://www.facebook.com/juan.chehin/" target="_blank">Ing. Chehin Juan Martin</a>
                </p>
            </div>
        </div>
    </div>
</footer>