<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card alert alert-primary">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label>Apellidos: </label><input (keyup.enter)="buscarCliente( )" #input type="text" class="form-control" placeholder="Apellidos..." id="buscarApellidos">
                </div>
                <div class="col-sm-6 form-group">
                    <label>Nombres:  </label><input (keyup.enter)="buscarCliente( )" #input type="text" class="form-control" placeholder="Nombres..." id="buscarNombres">
                </div>
                <div class="col-sm-6 form-group">
                    <button (click)="buscarCliente( )" class="btn btn-primary">
                        Consulta
                        <i class="material-icons ">
                            search
                            </i>
                        </button>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card alert alert-success">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label>Patente: </label><input #input type="text" class="form-control" placeholder="Patente del automovil..." id="buscarPatente">
                </div>

                <div class="col-sm-6 form-group">
                    <button (click)="buscarPatente( )" class="btn btn-primary">
                      Consulta
                      <i class="material-icons ">
                          search
                          </i>
                      </button>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-12">
        <div class="card">

            <div class="card-body">

                <div class="row">
                    <div class="col-sm-6 form-group">
                        <h3 class="card-title">Cantidad clientes ( <small> {{ totalClientes }} </small> )</h3>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <!-- <th>Foto</th> -->
                            <th>Apellidos</th>
                            <th>Nombres</th>
                            <th>Patente</th>
                            <th>Celular</th>
                            <th>Direccion</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let cliente of clientes" [ngClass]="{'bg-danger text-warning': (cliente.ClasesDisponibles === 0) && (planSeleccionado === -1)}">

                            <td>{{ cliente.Apellidos }}</td>
                            <td>{{ cliente.Nombres }}</td>
                            <td>{{ cliente.Patente }}</td>
                            <td>{{ cliente.Celular }}</td>
                            <td>{{ cliente.Direccion }}</td>

                            <!-- ============================== Grupo de Botones =================================== -->
                            <td>
                                <div class=" btn-group " role="group " aria-label="Basic example ">
                                    <button title="Editar/Perfil" [routerLink]="[ '/cliente/editar', cliente.IdCliente ] " class="btn btn-muted ">
                                        <i class="material-icons ">
                                            assignment_ind
                                            </i>
                                    </button>
                                    <button title="Historial" [routerLink]="['/cliente/historico', cliente.IdCliente ] " class="btn btn-info ">
                                        <i class="material-icons ">
                                            grading
                                            </i>
                                    </button>
                                    <button title="Borrar cliente" (click)="eliminarCliente( cliente ) " class="btn btn-danger ">
                                        <i class="material-icons ">
                                        delete
                                        </i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="cambiarDesde(-15) " class="btn btn-secondary ">
                    Anteriores
                  </button>

                <button (click)="cambiarDesde(15) " class="btn btn-secondary " style="margin-left: 50px; ">
                      Siguientes
                  </button>
            </div>
        </div>

    </div>

</div>
